* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaeaea;
  color: #333;
  line-height: 1.6;
}

/* Header Styles */
.header {
  background: linear-gradient(135deg, #4a4a4a, #333); /* Dégradé sombre */
  color: #fff;
  padding: 20px;
  text-align: center;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.header:hover {
  background: linear-gradient(
    135deg,
    #5a5a5a,
    #444
  ); /* Dégradé légèrement plus clair au survol */
}

.header h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  animation: slideIn 1s ease-in-out;
}

/* Navigation */
.header_nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.2s;
}

.header_nav a:hover {
  color: #ff6347;
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Main Styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 50px;
  padding: 30px;
  background: linear-gradient(180deg, #ffffff, #f0f0f0); /* Dégradé léger */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Section Headings */
h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

h2::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: #ff6347;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

/* Skills and Projects Container */
.skills-container,
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 220px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
}

article:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

article img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  animation: bounce 2s infinite;
  object-fit: cover;
}

/* Carousel Styles */
.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

.projects {
  overflow: hidden;
  width: 100%;
  height: 400px;
  position: relative;
  background: linear-gradient(135deg, #ffffff, #f9f9f9);
}

.project-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  text-align: center;
  padding: 0 10px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.carousel-item img:hover {
  transform: scale(1.05); /* Slight zoom effect on image hover */
}

.carousel-item a {
  font-size: 1.5rem;
  color: #ff6347;
  text-decoration: underline;
}

/* Carousel Buttons */
.project-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black; /* Changer la couleur de fond à noir */
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  font-size: 3rem; /* Augmente la taille des flèches */
  padding: 10px 20px; /* Ajustement pour plus d'espace autour des flèches */
  transition: background-color 0.3s; /* Garde juste la transition pour la couleur */
}

.project-btn.arrow-prev {
  left: 20px; /* Position à gauche */
  color: black;
  background-color: transparent;
}

.project-btn.arrow-next {
  right: 20px; /* Position à droite */
  color: black;
  background-color: transparent;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.indicator.active {
  background-color: #ff6347;
}

.indicator:hover {
  transform: scale(1.2);
}

/* Projects Carousel Styles */
.projects-container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

.projects {
  overflow: hidden;
  width: 100%;
  position: relative;
  background: linear-gradient(135deg, #ffffff, #f9f9f9);
}

.project-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

/* affichage des labels sous le carousel */

.label-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Espace entre l'image du projet et les labels */
}

.label-projects span {
  background-color: #f0f0f0; /* Couleur de fond des rectangles */
  color: #333; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur pour donner une forme rectangulaire */
  margin: 5px; /* Espacement entre les labels */
  border-radius: 5px; /* Coins légèrement arrondis */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile pour l'effet de relief */
  font-size: 14px; /* Taille du texte */
  text-align: center;
}

/* Carousel Indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.indicator.active {
  background-color: #ff6347;
}

.indicator:hover {
  transform: scale(1.2); /* Slight zoom effect on hover */
}

/* Footer Styles */
footer {
  background: linear-gradient(
    135deg,
    #333,
    #444
  ); /* Dégradé sombre pour le pied de page */
  color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_nav a {
    margin: 10px 0;
  }

  .projects-container,
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .projects {
    height: 300px; /* Adjusted height */
  }

  article {
    width: 180px; /* Adjusted width */
  }

  h2 {
    font-size: 1.8rem;
  }

  .project-btn {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .projects {
    height: 250px; /* Adjusted height */
  }

  article {
    width: 120px; /* Adjusted width */
  }

  .project-btn {
    padding: 5px;
  }
}

/* Grille pour les projets en mode mobile */
@media (max-width: 425px) {
  .projects {
    height: auto; /* Ajustement de la hauteur pour l'affichage en grille */
  }

  .project-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    transform: none; /* Supprime la transformation du carrousel */
  }

  .carousel-item {
    flex: 1 0 100%; /* Occupe toute la largeur disponible */
    padding: 10px; /* Ajuste le padding si nécessaire */
    margin-bottom: 20px; /* Espace entre les projets */
    border: 2px solid #ccc; /* Couleur de la bordure */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    background-color: #fff; /* Fond blanc */
}

  .carousel-item img {
    max-width: 100%; /* Ajuster l'image à la grille */
    height: auto; /* Laisser l'image ajuster sa hauteur automatiquement */
  }

  .label-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes en mode responsive */
    justify-items: center; /* Centre les labels dans la grille */
}

  /* Masquer les boutons de navigation */
  .project-btn {
    display: none;
  }

  /* Masquer les indicateurs (bullet points) */
  .carousel-indicators {
    display: none;
  }
}
